{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <p><strong>About Me:</strong><br>
            I am Saba Lagurashvili, a passionate individual with a profound love for creativity and a relentless curiosity to explore the ever-evolving landscape of technology. My journey into the tech world began with a deep interest in creating innovative solutions. This motivation led me to complete various courses in game development (using C# and Unity3D), HTML/CSS, and JavaScript introduction, allowing me to build a solid foundation in programming and design.</p>
            
            <p><strong>Professional Background:</strong><br>
            Currently, I serve as a Product System Support Specialist, where I actively engage with MongoDB and ORACLE SQL databases. My responsibilities include executing operations like insert, update, delete, and working with advanced database concepts such as cursors. This professional experience has honed my skills and equipped me with a practical understanding of database management, setting the stage for my ongoing journey into the world of Python programming, where I have delved into modules like request, BeautifulSoup, tkinter, and more. As of September 2023, I am expanding my knowledge into back-end development modules.</p>
            
            <p><strong>Aspirations and Interests:</strong><br>
            My ambitions extend beyond routine tasks; I aspire to create a revolutionary project that stands as the pinnacle of innovation. Although I may not know the specifics yet, my determination is unwavering. I am drawn to the fields of Data Science, Data Engineering, Web Development, and Artificial Intelligence, with a keen interest in exploring Blockchain and Mobile App Development. I believe that mobile applications will redefine the digital landscape, while cryptocurrencies will reshape traditional currencies. Throughout my career, I consistently strive for excellence, aiming to be the first and perform at the highest level. I am fueled by a passion for collaboration with motivated individuals who share the common goal of reaching new heights in their endeavors.</p>
            
    </main>
{% endblock  %}}