{% extends "base.html" %}

{% block  content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:datlagu@gmail.com">
                        datlagu@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/Lagu-R">
                        @Lagu-R
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/saba-lagurashvili-b63291257/">
                        saba lagurashvili
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock  %}